<p id="notice"><%= notice %></p>

<h1>Additional Params</h1>

<table>
  <thead>
    <tr>
      <th>Formula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @additional_params.each do |additional_param| %>
      <tr>
        <td><%= additional_param.formula_id %></td>
        <td><%= link_to 'Show', additional_param %></td>
        <td><%= link_to 'Edit', edit_additional_param_path(additional_param) %></td>
        <td><%= link_to 'Destroy', additional_param, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Additional Param', new_additional_param_path %>
