<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.admin? %>
	  Admin account of
        <% else %>
	  Profile of
        <% end %> 
	<strong><%= @user.username %></strong></h1>
       <h1>
        <% if @user.eql? current_user %>
          <%= link_to "Create formula", new_user_formula_path(current_user), class: "btn btn-success" %>
        <% end %> 
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h5>This user has already created 
      <%= pluralize(@user.formulas.count,'formula') %>
    </h5>
    <% if @user.formulas.any? %>
	<%= render "/shared/paginated_formulas" %>
    <% end %>
  </div>
</div>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
	<% if !current_user?(@user)&&current_user.admin? %>
	<%= link_to "Edit account", edit_user_path(@user), 
           class: "btn btn-warning" %>
        <% end %>
      </h1>    
      <h1>
	<% if !current_user?(@user)&&current_user.admin? %>
	<%= link_to "Delete account?", @user, method: :delete,
           data: { confirm: "Delete account?" }, class: "btn btn-danger" %>
        <% end %>
      </h1>    
    </section>
  </aside>
</div>



