<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for formula do |f| %>
      
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :user_id %>
      <%= f.text_field :user_id, 
		{:readonly => true, :value => @current_user.id} %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :glicko, class: "checkbox inline" do %>
      <%= f.check_box :glicko %>
      <span>Use glicko (otherwise elo)</span>
      <% end %>

      <%= f.label :winstreak, class: "checkbox inline" do %>
      <%= f.check_box :winstreak %>
      <span>Should win streak affect points?</span>
      <% end %>

      <%= f.label :winstreak_boost %>
      <%= f.text_field :winstreak_boost, class: 'form-control' %>

      <%= f.label :losestreak, class: "checkbox inline" do %>
      <%= f.check_box :losestreak %>
      <span>Should lose streak affect points?</span>
      <% end %>

      <%= f.label :losestreak_boost %>
      <%= f.text_field :losestreak_boost, class: 'form-control' %>
  
      <%= f.label :use_extra_params, class: "checkbox inline" do %>
      <%= f.check_box :use_extra_params %>
      <span>Use additional parameters?</span>
      <% end %>

      <%= f.label :extra_points %>
      <%= f.number_field :extra_points, class: 'form-control' %>

      <%= f.submit button_text, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
