<p id="notice"><%= notice %></p>

<h1>Formulas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formulas.each do |formula| %>
      <tr>
        <td><%= formula.user_id %></td>
        <td><%= link_to 'Show', formula %></td>
        <td><%= link_to 'Edit', edit_formula_path(formula) %></td>
        <td><%= link_to 'Destroy', formula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formula', new_formula_path %>
