<% provide(:title, @formula.title) %>

<h1>Formula <strong><%= @formula.title %></strong></h1>

<p>
  <strong>Creator:</strong>
  <%= @formula.user[:username] %>
</p>

<p>
  <strong>
    <% if @formula.glicko %>
      Glicko
    <% else %>
      Elo
    <% end %>
  </strong>
  is in use
</p>

<p>
  <% if @formula.winstreak %>
    Winstreak is boosted for 
    <strong><%= @formula.winstreak_boost %></strong>
  <% end %>
</p>

<p>
  <% if @formula.losestreak %>
    Losestreak is boosted for 
    <strong><%= @formula.losestreak_boost %></strong>
  <% end %>
</p>
<% if @formula.use_extra_params %>
  <p>
    Using Extra Params to calculate ratings with 
    <strong><%= @formula.extra_points %></strong>
    extra points
  </p>
<% end %>
<% if @formula.extra_params.any? %>
  <%= render 'shared/extra_params', extra_params: @formula.extra_params %>
<% end %>
<% if current_user[:id] == @formula.user_id %>
<%= link_to 'Add params', new_user_formula_extra_param_path(
	current_user, @formula, @extra_param, 
	params: { :formula_id => @formula[:id] }), 
	class: "btn btn-success" %>
<%= link_to 'Edit formula', edit_user_formula_path(current_user, @formula), 
        class: "btn btn-warning"%>
<%= link_to 'Delete formula', @formula, method: :delete, data: 
	{ confirm: 'Are you sure?' }, class: "btn btn-danger"%>
<% end %>
